body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .8px;
}
.container{
    max-width: 1144px;
    padding: 0 12px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 20px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 34px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 22px;
}
h6{
    font-size: 20px;
}
p{
    margin-bottom: 15px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
a,button{
    color: #FF5959;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    text-decoration: none;
}
.today-donate-btn {
    cursor: pointer;
    background: #00aeff;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    min-width: 192px;
    /* border: 3px solid transparent; */
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    padding: 20px 0px;
    text-align: center;
    transition: all.7s;
    -ms-transition: all.7s;
    -webkit-transition: all.5s;
    position: relative;
    z-index: 1;
}
.d-f{
    display: flex;
}

header.header{
    background-color: #129ad9;
    padding: 15px 0;
}
.hdr-menu{
    padding-left: 20px;
}
nav.main-nav ul li {
    padding: 0 20px;
}
nav.main-nav ul li:last-child {
    padding-right: 0;
}
nav.main-nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    transition: all .5s;
    position: relative;
    padding: 10px 0;
    display: inline-block;
}
nav.main-nav ul li a:after {
    background: #0B0D17;
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    bottom: 0;
    width: 0;
    margin-top: 5px;
    border-radius: 5px;
    transition: ease-out .5s;
}
nav.main-nav ul li a:hover, nav.main-nav ul li.active a {
    color: #0B0D17;
}
nav.main-nav ul li a:hover:after, nav.main-nav ul li.active a:after {
    width: 100%;
}
.hdr-cntlr {
    justify-content: space-between;
    align-items: center;
}
.hdr-lgo a {
    max-width: 140px;
    display: inline-block;
    width: 100%;
}
.banner-sec {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
    background-image: linear-gradient(360deg, #121212 0%, rgba(167, 145, 159, 0) 101%),
    url(images/banner-bg.jpg);
    height: 70vh;
    display: flex;
    align-items: center;
}
.bnnr-cntlr {
    color: #fff;
    text-align: center;
    max-width: 760px;
    width: 100%;
}
.bnr-title{
    font-weight: 800;
}
.today-donate-btn:hover {
    background: white;
    border-color: rebeccapurple;
    color: #000;
}
.bnnr-cntlr p {
    margin-top: 25px;
    margin-bottom: 35px;
}
.donate-plan-sec{
    padding: 110px 0;
}
.donate-plan-sec-cntlr {
    text-align: center;
    max-width: 731px;
    width: 100%;
    margin: 0 auto;
}
.dps-title{
    margin-bottom: 15px;
}
.donate-box button {
    text-align: center;
    padding: 25px 8px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: .7px;
    color: #707070;
    width: 120px;
}
.donate-box .donate-amount{
    border: 2px solid #00aeff;
    background: #106d7c;
    color: #00aeff;
}
.donate-box button:not(:last-child) {
    margin-right: 18px;
}
input#ohter-amount {
    width: 100%;
    border: none;
    border-bottom: 1px solid gainsboro;
}
.other-amount-cntlr {
    padding-top: 50px;
}
.other-amount-cntlr button{
    margin-top: 32px;
    border: none;
    font-weight: 600;
    min-width: 170px;
    padding: 18px 0px;
}
.other-amount-cntlr button:hover {
    background: #55656c;
    color: #ffffff;
}